@model IEnumerable<roleDemo.ViewModels.UserVM>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("View Roles", "Detail", new { userName = item.UserName })  
            </td>
        </tr>
}
    </tbody>
</table>
