<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Don Li\Documents\Github\CSharp\Inventory\Inventory\DB\InventoryDB.mdf;Integrated Security=True;Connect Timeout=30"
    />
  </connectionStrings>
</configuration>